<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Welcome</title>
  </head>
  <body>
    <div id="content">
      <div>
        <form method="POST">
          <img src="/phone.jpg" />
          <h1>Iphone 16 pro</h1>
          <input type="submit" value="Vasarlas" id="button" />
        </form>
      </div>
      <div>
        <form method="POST">
          <img src="/phone2.png" />
          <h1>Iphone 13 pro</h1>
          <input type="submit" value="Vasarlas" id="button" />
        </form>
      </div>
      <div>
        <form method="POST">
          <img src="/phone3.png" />
          <h1>Iphone 12 pro</h1>
          <input type="submit" value="Vasarlas" id="button" />
        </form>
      </div>
    </div>
  </body>
</html>
